@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif,Arial, Helvetica;
}

:root{
    --bgOrange: #e84949;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}

.logo{
    width: 80px;
}

.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a{
    color: black;
}

a{
    text-decoration: none;
}

.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);

    bottom: -16px;
    left: -5px;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #343d68;
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-desc{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
  }
  
  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  
  .btn-pink:hover {
    border: solid 3px #e84949;
    color: black;
  }

  .hero-section-right{
    position: relative;
  }

.absolute{
    position: absolute;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.user-image img{
    z-index: -1;
}

@keyframes scaleImage {
    
    0%{
        filter: grayscale(1);
        transform:scale(1.1);
    }

    50%{
        transform: scale(0.9);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform: scale(1);
        filter: grayscale(1);
    }
}

.icons-dots{
    z-index: 1;
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dotsAnimation {

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}

.icons-cube{
    z-index: 1;
    top: -0.6em;
    right: 1em;
    animation-name: cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cubeRotate {

    0%{
        transform:  rotateY(0deg) translateY(0px);
    }

    50%{
        transform:  rotateY(180deg) translateY(-12px);
    }

    100%{
        transform:  rotateY(360deg) translateY(0px);
    }
}

.icons-circle{
    z-index: 1;
    left: 0;
    bottom: 0;
    animation-name: shakeEffect;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes shakeEffect {

    50%{
        left: 5%;
        bottom: 10%
    }
}

.icons-zigzag {
    z-index: 1;
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {

    50%{
        top: 2%;
        left: 5%
    }
}

.icons-plus{
    z-index: 1;
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {

    50%{
        top: 3%;
        left: 48%;
    }
}

.project-section{
    background-color: rgb(231,231,231);
    margin-top: 4rem;
}

.page-header{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}

.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
}