@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif,Arial, Helvetica;
}

:root{
    --bgOrange: #e84949;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}

.logo{
    width: 80px;
}

.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a{
    color: black;
}

a{
    text-decoration: none;
}

.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none;
    font-size: 6em;
    color: #e7e7e7;
    bottom: -14.5%;
    left: 0;
    font-weight: bold;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #343d68;
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-desc{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
  }
  
  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  
  .btn-pink:hover {
    border: solid 3px #e84949;
    color: black;
  }

  .hero-section-right{
    position: relative;
  }

.absolute{
    position: absolute;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.user-image img{
    z-index: -1;
}

@keyframes scaleImage {
    
    0%{
        filter: grayscale(1);
        transform:scale(1.1);
    }

    50%{
        transform: scale(0.9);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform: scale(1);
        filter: grayscale(1);
    }
}

.icons-dots{
    z-index: 1;
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dotsAnimation {

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}

.icons-cube{
    z-index: 1;
    top: -0.6em;
    right: 1em;
    animation-name: cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cubeRotate {

    0%{
        transform:  rotateY(0deg) translateY(0px);
    }

    50%{
        transform:  rotateY(180deg) translateY(-12px);
    }

    100%{
        transform:  rotateY(360deg) translateY(0px);
    }
}

.icons-circle{
    z-index: 1;
    left: 0;
    bottom: 0;
    animation-name: shakeEffect;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes shakeEffect {

    50%{
        left: 5%;
        bottom: 10%
    }
}

.icons-zigzag {
    z-index: 1;
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {

    50%{
        top: 2%;
        left: 5%
    }
}

.icons-plus{
    z-index: 1;
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {

    50%{
        top: 3%;
        left: 48%;
    }
}

/* Projects Section  */

.project-section{
    background-color: rgb(231,231,231);
    margin-top: 4rem;
}

.page-header{
    color: var(--bgOrange);
    font-size: 90px;
    line-height: 75px;
    text-align: center;
    padding: 50px 0 30px;
}

.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;
}

#project1{
    background-image: url(/Dummy-portfolio/images/projects/Project1.png);
    right: 5%;
}

#project2{
    background-image: url(/Dummy-portfolio/images/projects/Project2.png);
    left: 5%;
}

#project3{
    background-image: url(/Dummy-portfolio/images/projects/Project3.png);
    right: 5%;
}

#project4{
    background-image: url(/Dummy-portfolio/images/projects/Project4.png);
    left: 5%;
}
.project-card{
    width: 80%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    margin: 2rem auto;
    z-index: 2;
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    z-index: 1;
    transition: 0.5s all;
    transform-origin: left;
    transform: scaleX(0);
}

.project-card:hover::before{
    transform: scaleX(1);
}

.projectNumber{
    position: absolute;
    font-size: 140px;
    font-weight: 600;
    color: #fff;
    display: none;
    z-index: 10;
    transition: 0.8s;
    padding: 40px;
}

.rightNumber{
    top: -45px;
    right: -45px;
}

.leftNumber{
    top: -45px;
    left: -45px;
}

.projectCard:hover .projectNumber{
    display: block;
}

.projectCard::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
}

.projectContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    padding: 2em;
    bottom: 20%;
    position: absolute;
    z-index: 5;
    transition: all 0.4s;
}

.leftProjectContent{
    left: 5%;
}

.rightProjectContent{
    right: 5%;
}

.projectSkillsContainer{
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    gap: 1em;
}

.projectSkill{
    width: 40px;
}

.projectHeading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.projectSubHeading{
    font-size: 16px;
    font-style: italic;
    width: 70%;
}

.projectCard:hover .projectContent{
    transform: scale(1.1);
}

.btnGroup{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.btnGroup .btnProject{
    border: none;
    outline: none;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover{
    color: #e84949;
}

/* Skill Section Start  */

.skillContainer{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.leftSkillContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.skillHeading{
    color: #e84949;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}

.skillHeading span{
    font-size: 90px;
}

.skillSubHeading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skillSubHeading p{
    margin: 15px 0;
}

.rightSkillContainer{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    justify-content: center;
}

.blogStyle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    animation: blogAnimation 3s linear infinite;
}

@keyframes blogAnimation {
    50%{
        top: 54%;
        left: 46%;
    }
}

.skillLogo{
    width: 80px;
    transition: all 0.5s;
}

.skillLogo:hover{
    transform: scale(1.2);
}

.skillFaddedText{
    font-size: 12em;
    right: -9%;
    bottom: -30%;
    user-select: none;
    color: #e7e7e7;
    font-weight: bold;
}

/* Contact Section */

.contactus-form-Container{
    width: 100%;
    background-color: rgb(231,231,231);
}

.contactus-Heading{
    color: #e84949;
    font-size: 5em;
    padding-top: 2rem;
}

.contactus-sub-Heading{
    font-size: 3em;
    color: #343d68aa;
    text-transform: capitalize;
}

.contactus-form-container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2em;
}

.formfield-container{
    width: 100%;
}

.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2em;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f1f;
    border: none;
    margin-top: 27px;
}

.formfield-textarea{
    height: auto;
    padding-top: 1rem;
}

#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}

#submit-btn:hover{
    scale: 0.9;
}

.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}